

@font-face{
    font-family: 'institucion';
    src: url(CAMPUS PERSONAL USE.ttf)
}
body{
    background-color: #ECEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





.div{
    background-image: url( fondo1.jpg);
    background-size: 800px 500px;
    width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    border: 15px double;
    position: absolute;
    
    
     }
	 
.img{
	margin-left:570px;
	margin-top:-60px;
}

.inst{
    font-family: 'institucion';
    
}
.tex{
    
    font-family:roughbrush;
    
}
.nom{
    font-family:roughbrush;
    
    text-decoration: underline black;
}
.tex1{
    font-family:roughbrush;
   
}
.f1{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 60px;
    bottom: 10px;
}
.btn {
	border-radius: 0;
	padding: 10px 35px;
	font-size: 15px;
}

.btn-primary {
	color: #000;
	background: #ffe600;
	border: 1px solid #ffe600;
	display: inline-block;
	margin: 10px;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	border: none;
}

.btn-primary:hover {
	background: #ffe600;
	color: #000;
	border: none;
}

.btn-primary:before {
	content: '';
	position: absolute;
	border: #ffe600 solid 4px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-property: top, right, bottom, left;
	transition-property: top, right, bottom, left;
}

.btn-primary:hover:before {
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
}

.f2{
    width: 300px;
    height: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
